alpha_vantage_key.txt
MarketSearch/.ipynb_checkpoints/*
MarketSearch/__pycache__/*
MarketSearch/Data/*
MarketSearch/test.py
MarketSearch/ticker_h.txt
MarketSearch/ticker_s.txt
Pre-after-market/*.png
__pycache__/